<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>StudyWare &mdash;No More Boring Lectures</title>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
	<link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/coursecards.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    
    
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    
    
      <div class="container-fluid">
     
      
        <div class="d-flex align-items-center">
    		
 		  <a class="site-navbar-brand" href="#">
       <img src="images/SWLOGO.png" alt="Logo" style="width:170px;height:70px;">
        </a>
      
     <!--      <div class="site-logo mr-auto "><a href="index.html">STUDY WARE</a></div> -->

          <div class="mx-auto ">
            <nav class="site-navigation position-relative text-left" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link  ">Home</a></li>
                <li><a href="#aboutus-section" class="nav-link">About Us</a></li>
                   <li><a href="#courses-section" class="nav-link">Courses</a></li>
                 <li><a href="#Test-section" class="nav-link">Test Series</a></li>
                <li><a href="#notes-section" class="nav-link">Notes</a></li>
              
              
              </ul>
            </nav>
          </div>

          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="#contact-section" class="nav-link"><span>Reach Us</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>

    <div class="intro-section" id="home-section">
      
      <div class="slide-1" style="background-image: url('images/kalam.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
            	
             
              <div class="row align-items-center">
                <div class="col-lg-12 mb-4">
                <div class="row">
	            <!--   <img src="images/SWLOGO.png" alt="Logo"  align="left" style="width:400px;height:150px;"> -->
	             </div>
                <div class="row">
                  <h1  style="font-size:3.5vw;"  data-aos="fade-up" data-aos-delay="100">Make your concept stronger<br>Crack your exam harder</h1>
                  <h4  style="font-size:2.5vw;"class="mb-4"  data-aos="fade-up" data-aos-delay="200">Learning gives creativity, creativity leads to thinking, thinking provides knowledge, and knowledge makes you great.</h4>
                 <p data-aos="fade-up" style="font-size:2vw;" data-aos-delay="300">-Dr.A.P.J Abdul Kalam</p>
				</div>
                </div>

                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                
                    <h3 class="h4 text-black mb-4"></h3>
                  <!--    <a th:href="@{/allTest}"><img class="card-img-top img-responsive" style="max-width: 100%;height: auto;" src="images/ots.jpg" alt="Card image cap"></a><hr> -->
                  <!--   <li class="cta"><a th:href="@{/allTest}" class="nav-link"><span>Click Here</span></a></li> -->

                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    
  
    
    <div id="aboutus-section">
    <div   class="site-section courses-title" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title" style="color:black;font-family: 'Playfair Display', serif;">ABOUT STUDYWARE</h2>
          </div>
        </div>
      </div>
    </div></div>
    <div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
      <div class="container">
        <div class="row"style="font-family: 'Bebas Neue', cursive;text-align: center">
        <!-- 
		  <div class="col-8"  > --><h3 style="font-size:2.5vw;">Dear Future of Nation here we are with future of education system ....<br><hr>
		It's not just about online class it's all about vision towards ur future ...<br><hr>
		STUDY WARE is here to help the students to teach a academic subject in conceptual and experimental way.
		We ensure the studies of the student to take them in higher  way in their upcoming life
		Here we don't encourage students to by Heart and mug up for exams, 
		but we will make sure they understand the basics and concept clearly so that they can crack NEET and other exams
		</h3>
		
		<marquee style="color: #ed6f00;font-family: 'Raleway', sans-serif;"><blink> class 12 and 11 integrated  with NEET & CA Foundation .</blink></marquee>
		</h3>
		
		<!-- </div> -->
		  <!-- <div class="col-4">
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/y8CtkYlWDWg?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
		  </div>
		 -->

          </div>
          <div class="row"style="font-family: 'Bebas Neue', cursive; align:'center'">
            <iframe style="display: block; margin: auto;" width="750" height="500" src="https://www.youtube.com/embed/y8CtkYlWDWg?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          </div>

        </div>
       
      </div>
       
    </div>  
    

	 <div id="courses-section"  class="site-section pb-0">

      <div class="future-blobs">
        <div class="blob_2">
          
        </div>
        <div class="blob_1">
          
        </div>
      </div>
      <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
          <div class="col-lg-7 text-center">
            <h2 class="section-title" style="color:black;font-family: 'Playfair Display', serif;">Courses We Offer</h2>
          </div>
        </div>
        
         <!--=======================================================================================================================  
   		========================================   COURSES SECTION ===========================================================
   		======================================================================================================================-->
        
       
		
		<div class="row">
		
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img class="d-block w-100" src="images/class-carousel.jpg" alt="First slide">
		    </div>
		    <div class="carousel-item">
		      <img class="d-block w-100" src="images/neet_Moment.jpg" alt="Second slide">
		    </div>
		    <div class="carousel-item">
		      <img class="d-block w-100" src="images/ca.jpg" alt="Third slide">
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
      
    </div> 
    
    
    
    
    
    
 <!--=======================================================================================================================  
   		========================================   Test SECTION ===========================================================
   		======================================================================================================================-->


	 <div class="site-section" id="Test-section">
      <div class="container"><div class="row mb-5 justify-content-center">
          <div class="col-lg-7 mb-5 text-center"  data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title" style="color:black;font-family: 'Playfair Display', serif;" >Our Test</h2>
          </div>
        </div>
      <div class="row mb-5 justify-content-center">
       <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		     <a th:href="@{/allTest}">  <img class="d-block w-100" src="images/website.png" alt="First slide"></a>
		    </div>
		    
		  </div>
		 
		 
		</div>
      </div>
     </div>	
     
     
     
     
     <!-- =====================================================================================================================
     ========================================================Notes Section ======================================================
     ========================================================================================================================== -->
     
     <div class="site-section" id="notes-section">
      <div class="container">
      <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 mb-5 text-center"  data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title" style="color:black;font-family: 'Playfair Display', serif;" >Our Notes</h2>
          </div>
        </div>
	 <div class="row  mb-5 justify-content-center" >
		  <div class="col"><a th:href="@{/class10}"><img class="card-img-top"  src="images/c10.png" alt="Card image cap"></a></div>
		  <div class="col"><a th:href="@{/c11s}"><img class="card-img-top"  src="images/c11s.png" alt="Card image cap"></a></div>
		  <div class="col"><a th:href="@{/c11c}"><img class="card-img-top"  src="images/c11c.png" alt="Card image cap"></a></div>
		 
	</div>
	<div class="row  mb-5 justify-content-center">
		  <div class="col"><a th:href="@{/c12s}"><img class="card-img-top"  src="images/c12s.png" alt="Card image cap"></a></div>
		  <div class="col"><a th:href="@{/c12c}"><img class="card-img-top"  src="images/c12c.png" alt="Card image cap"></a></div>
		  <div class="col"><a th:href="@{/neet}"><img class="card-img-top"  src="images/neet.png" alt="Card image cap"></a></div>
	</div>
      </div>
     </div>	
	

   <!--=======================================================================================================================  
   		========================================   CONTACT SECTION ===========================================================
   		======================================================================================================================-->

    
   

    



    <div class="site-section bg-light" id="contact-section">
      <div class="container">
      
      <div class="row">
		    <div class="col">
		      	    
		            <h2 class="section-title mb-3" style="color:black;font-family: 'Playfair Display', serif;">Reach Us</h2>
		            <p class="mb-5">36/1 sachidhanandham street<br>Kosapet<br>Purasaiwalkam<br>Chennai 600012<br>studywareofficial@gmail.com</p>
		    </div>
		    
		    <div class="col">
		     Call us
		              <p class="mb-5"><a href="tel:+918939464653"><button href="" type="button" class="btn btn-outline-info">+91-8939464653</button></a>  <a href="tel:+919789904992"><button href="" type="button" class="btn btn-outline-info">+91-9789904992</button></a><br></p>
		              
		              
					
		    </div>
  </div>
      
      
      <div class="row">
		<!--   <div class="col-12 col-md-8"> <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.0559841317786!2d80.25384521388479!3d13.095638490774578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52652eae17f753%3A0x225ffdb216f1b38c!2sMr.%20Science%20education%20centre!5e0!3m2!1sen!2sin!4v1596337783592!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div></div> -->
		  <div class="col-8 col-md-8">
		    
		            <h2 class="section-title mb-3" style="color:black;font-family: 'Playfair Display', serif;">Follow Us On</h2>
			  <a href="https://twitter.com/Studyware_?s=08"> <img src="images/twt.png" alt="twitter" width="50" height="50"></a>
			<!-- <br><br> --><a href="https://www.instagram.com/studyware_official?r=nametag"> <img src="images/ins.png" alt="instagram" width="60" height="60"></a>
			  <!--  <br><br> --> <a href="https://www.facebook.com/Studyware-107124711331900/?ti=as"> <img src="images/fb.png" alt="fb" width="50" height="50"></a>
			 <!-- <br><br> --> <a href="https://api.whatsapp.com/send?phone=918939464653"> <img src="images/wp.png" alt="fb" width="60" height="60"></a>
			  <!-- <br><br>  --><a href="https://goo.gl/maps/hfdY8aAGSL2e1AUf6"> <img src="images/gm.png" alt="fb" width="50" height="50"></a>
		 		 
		  </div>
		</div>

        
          </div>
         
      </div>
    </div>
    
     
    <footer class="footer-section bg-white">
      <div class="container">
        <div class="row">
        
        
       
			 
					
        
        </div>
        
         

        </div>

       
      </div>
    </footer>

  
    
  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>

  
  <script src="js/main.js"></script>
    
  </body>
</html>